# Dependencies
yarn.lock
node_modules/

# Logs
npm-debug.log
yarn-error.log
lerna-debug.log
*.log

# Build outputs
dist/
build/
tmp/
*.tsbuildinfo

# Angular
.angular/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local
